# Meta
**/.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Jest
coverage

# Distribution
lib

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# ide configs
.idea
.vscode

#ts cache
.awcache-server

